.root{
    -fx-background-image: url("../img/authscreen.jpg");
    -fx-background-size: cover;
}

#btnSignIn {
    -fx-background-color: #4b4b4b;
    -fx-text-fill: #000000;
    -fx-border-color: #fff;
    -fx-border-radius: 4px;
    -fx-font-family: Verdana;
}
#btnSignIn:even {
    -fx-background-color: #bdbdbd;
    -fx-text-fill: #ffffff;
    -fx-border-color: #fff;
    -fx-border-radius: 4px;
    -fx-font-family: Verdana;
}

#loginUser {
    -fx-font-family: Verdana;
    -fx-text-fill: #bdbdbd;
    -fx-border-color: #000000;
    -fx-border-radius: 4px;
}
